index.html
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Publishers interface</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/favicon.png" rel="shortcut icon">
    <link rel="stylesheet" href="css/main.css">
    <!--if lt IE 9
    script(src="js/ltie9.js")
    
    
    -->
  </head>
  <body>
    <nav role="navigation" id="mobileNav" class="mobile-nav visible-xs">
      <ul class="list-unstyled mobile-nav-ul text-uppercase">
        <li class="mobile-nav-ul-item"><a href="index.html" title="Accueil" class="mobile-nav-ul-item-a active">Accueil</a></li>
        <li class="mobile-nav-ul-item"><a href="menu1.html" title="Menu 1" class="mobile-nav-ul-item-a active">Menu 1</a></li>
        <li class="mobile-nav-ul-item"><a href="menu2.html" title="Menu 2" class="mobile-nav-ul-item-a active">Menu 2</a></li>
        <li class="mobile-nav-ul-item"><a href="menu3.html" title="Menu 3" class="mobile-nav-ul-item-a active">Menu 3</a></li>
        <li class="mobile-nav-ul-item"><a href="contact.html" title="Contact" class="mobile-nav-ul-item-a active">Contact</a></li>
      </ul>
    </nav>
    <header role="banner" class="header p-t-s p-b-s">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-3 col-xs-6">
            <h1 class="header-logo-h1"><a href="index.html" title="Start project">LOGO<img alt="" src="" class="header-logo-img img"></a></h1>
          </div>
          <div class="col-md-8 col-sm-9 col-xs-6"><a id="buttonMenu" href="#" title="Menu" class="button button-link button-light button-s button-menu text-uppercase visible-xs right m-t-xs">Menu</a>
            <nav role="navigation" class="primary-nav right m-t-xs hidden-xs">
              <ul class="list-inline primary-nav-ul">
                <li class="primary-nav-ul-item"><a href="page1.html" title="menu 1" class="primary-nav-ul-item-a">menu 1</a>
                </li>
                <li class="primary-nav-ul-item"><a href="page2.html" title="menu 2" class="primary-nav-ul-item-a">menu 2</a>
                </li>
                <li class="primary-nav-ul-item"><a href="page3.html" title="menu 3" class="primary-nav-ul-item-a">menu 3</a>
                </li>
                <li class="primary-nav-ul-item"><a href="contact.html" title="Contact" class="button button-link button-light button-s button-nav">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <div id="#pageWrapper" class="page-wrapper">
      <div role="main" class="main">
        <section class="hero-unit section-bg-image margin-top-negative">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
                <h2 class="hero-unit-h">Hero unit</h2>
                <p class="hero-unit-p lead m-b-l m-t-s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.</p><a href="#bloc1" title="Découvrir" class="hero-unit-button button button-link button-light button-l button-primary scroll">Découvrir</a>
              </div>
            </div>
          </div>
        </section><span id="bloc1" class="anchor block"></span>
        <section class="section">
          <div class="container">
            <h2 class="h2 text-center">Titre 1</h2>
            <div class="row">
              <div class="content-block col-md-4 col-sm-4 text-center hover-icon">
                <div class="icon icon-share center-block"></div>
                <h3 class="h3">Titre 1</h3>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.</p><a href="ingenieur.html" title="Découvrir" class="button button-link button-light button-l button-secondary">Découvrir</a>
              </div>
              <div class="content-block col-md-4 col-sm-4 text-center hover-icon">
                <div class="icon icon-data center-block"></div>
                <h3 class="h3">Titre 2</h3>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.</p><a href="#bloc2" title="Découvrir" class="button button-link button-light button-l button-secondary scroll">Découvrir</a>
              </div>
              <div class="cotent-block-last col-md-4 col-sm-4 text-center hover-icon">
                <div class="icon icon-bulb center-block"></div>
                <h3 class="h3">Titre 3</h3>
                <p class="p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.</p><a href="savoir-faire.html" title="Découvrir" class="button button-link button-light button-l button-secondary">Découvrir</a>
              </div>
            </div>
          </div>
        </section><span id="bloc2" class="anchor block"></span>
        <section class="section section-bg-gray-lighter">
          <div class="container">
            <h2 class="h2 text-center">Titre 2</h2>
            <div class="row">
              <div class="col-md-4 col-sm-4 text-center">
                <div class="plan content-block p-b-m">
                  <h3 class="h3 plan-title m-b-xs">Titre 1</h3>
                  <p class="plan-price center-block">75€<small>/mois</small></p>
                  <ul class="plan-list list-unstyled center-block inline-block text-left">
                    <li><span class="plan-icon icon-clock"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-data"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-mail"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-eye"></span>Lorem ipsum</li>
                  </ul>
                  <div class="clearfix"></div><a href="infogerance.html" title="En savoir plus" class="button button-link button-light button-l button-secondary">En savoir plus </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <div class="plan content-block p-b-m">
                  <h3 class="h3 plan-title m-b-xs">Titre 2</h3>
                  <p class="plan-price">110€<small>/mois</small></p>
                  <ul class="plan-list list-unstyled center-block inline-block text-left">
                    <li><span class="plan-icon icon-clock"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-data"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-phone"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-eye"></span>Lorem ipsum</li>
                  </ul>
                  <div class="clearfix"></div><a href="infogerance.html" title="En savoir plus" class="button button-link button-light button-l button-secondary">En savoir plus </a>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 text-center">
                <div class="content-block-last plan plan-light p-b-m">
                  <h3 class="h3 plan-title m-b-xs">Titre 3</h3>
                  <p class="plan-price">60€</p>
                  <ul class="plan-list list-unstyled center-block inline-block text-left">
                    <li><span class="plan-icon icon-forbidden"></span>Lorem ipsum</li>
                    <li><span class=" lan-icon icon-credit-card"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-tag"></span>Lorem ipsum</li>
                    <li><span class="plan-icon icon-gauge"></span>Lorem ipsum</li>
                  </ul>
                  <div class="clearfix"></div><a href="infogerance.html" title="En savoir plus" class="button button-link button-light button-l button-third">En savoir plus </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section section-bg-third section-text-color-light">
          <div class="container">
            <div class="row">
              <div class="text-center">
                <p class="lead m-b-xl m-t-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><a href="contact.html" title="Contact" class="button button-link button-light button-l button-primary-gray">Contact</a>
              </div>
            </div>
          </div>
        </section>
      </div>
      <footer role="contentinfo" class="footer p-t-m p-b-m">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-2 text-center hidden-xs">
              <p class="footer-copyright-p">© 2014 Start Project</p>
            </div>
            <div class="col-md-8 col-sm-8">
              <nav class="footer-nav text-center hidden-xs">
                <ul class="footer-nav-ul list-inline">
                  <li><a href="index.html" title="accueil">accueil</a></li>
                  <li><a href="page1.html" title="menu 1">menu 1</a></li>
                  <li><a href="page2.html" title="menu 2">menu 2</a></li>
                  <li><a href="page3.html" title="menu 3">menu 3</a></li>
                  <li><a href="contact.html" title="contact">contact</a></li>
                </ul>
              </nav>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 text-center">
              <nav class="footer-social-nav">
                <ul class="footer-social-nav-ul list-inline">
                  <li><a href="http://facebook.com" title="Facebook"><span class="icon-facebook">&nbsp;</span></a></li>
                  <li><a href="http://twitter.com" title="Twitter"><span class="icon-twitter">&nbsp;</span></a></li>
                  <li><a href="http://google.com" title="Google Plus"><span class="icon-googleplus">&nbsp;</span></a></li>
                </ul>
              </nav>
            </div>
            <div class="col-xs-12 text-center visible-xs">
              <p class="footer-copyright-p">© 2014 Start Project</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>

html/pages/index.jade
block variables
	- var pageTitle = "Publishers interface"
extends ../layout/_site-base 

block content
	section(class="hero-unit section-bg-image margin-top-negative") 

		.container

			.row

				div(class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1")
					h2(class="hero-unit-h") Hero unit
					p(class="hero-unit-p lead m-b-l m-t-s") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="hero-unit-button button button-link button-light button-l button-primary scroll", href="#bloc1" title="Découvrir") Découvrir

	span(class="anchor block", id="bloc1")
	section(class="section")

		.container

			h2(class="h2 text-center") Titre 1

			.row

				div(class="content-block col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-share center-block")
					h3(class="h3") Titre 1
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary", href="ingenieur.html", title="Découvrir") Découvrir

				div(class="content-block col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-data center-block")
					h3(class="h3") Titre 2
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary scroll", href="#bloc2", title="Découvrir") Découvrir

				div(class="cotent-block-last col-md-4 col-sm-4 text-center hover-icon")
					div(class="icon icon-bulb center-block")
					h3(class="h3") Titre 3
					p(class="p") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia purus in justo posuere hendrerit.
					a(class="button button-link button-light button-l button-secondary", href="savoir-faire.html", title="Découvrir") Découvrir

	span(class="anchor block", id="bloc2")
	section(class="section section-bg-gray-lighter")

		.container

			h2(class="h2 text-center") Titre 2

			.row

				div(class="col-md-4 col-sm-4 text-center")
					div(class="plan content-block p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 1
						p(class="plan-price center-block") 75€
							small /mois
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li 
								span(class="plan-icon icon-clock")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-data")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-mail")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-eye")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-secondary", href="infogerance.html", title="En savoir plus") En savoir plus 

				div(class="col-md-4 col-sm-4 text-center")
					div(class="plan content-block p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 2
						p(class="plan-price") 110€
							small /mois
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li 
								span(class="plan-icon icon-clock")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-data")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-phone")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-eye")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-secondary", href="infogerance.html", title="En savoir plus") En savoir plus 

				div(class="col-md-4 col-sm-4 text-center")
					div(class="content-block-last plan plan-light p-b-m")
						h3(class="h3 plan-title m-b-xs") Titre 3
						p(class="plan-price") 60€
						ul(class="plan-list list-unstyled center-block inline-block text-left")
							li
								span(class="plan-icon icon-forbidden")
								|Lorem ipsum
							li 
								span(class=" lan-icon icon-credit-card") 
								|Lorem ipsum
							li 
								span(class="plan-icon icon-tag")
								|Lorem ipsum
							li 
								span(class="plan-icon icon-gauge")
								|Lorem ipsum

						div(class="clearfix")

						a(class="button button-link button-light button-l button-third", href="infogerance.html", title="En savoir plus") En savoir plus 

	section(class="section section-bg-third section-text-color-light")

		.container

			.row

				div(class="text-center")
					p(class="lead m-b-xl m-t-0") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					a(class="button button-link button-light button-l button-primary-gray", href="contact.html", title="Contact") Contact
